<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <title>Weather App</title>
</head>
<body>
    <div class="card shadow bg-light" style="width: 16rem; margin: 5%;">
        <div class="card-body">
            <h3 class="card-title">
                <img style="max-width: 50px;" src="http://openweathermap.org/img/w/{{ data['weather'][0]['icon'] }}.png" alt="Card image cap">
                <strong>{{ data['name'] }}</strong>
            </h3>
            <p><span id='date-time'></span></p>
            <h6><strong>Weather:</strong> {{ data['main']['temp'] }} °C</h6>
            <p>
                Feels like: {{data['main']['feels_like']}} °C <br>
                Max: {{data['main']['temp_max']}} °C <br>
                Min: {{data['main']['temp_min']}} °C 
            </p>
            <h6><strong>{{data['weather'][0]['description']}}</strong></h6>            
        </div>
      </div>
    <script>
        var dt = new Date().toISOString().slice(0, 10);
        document.getElementById('date-time').innerHTML=dt;
    </script>
</body>
</html>